<%- include("../partials/header") %>
<div class="container">
    <div class="row">

        <div class="col-md-3">
			<div class="list-group">
				<li class="list-group-item"><i class="fas fa-user-tie" style="margin-right: 10px;"></i>Author: <%= article.author.username %></li>
				<li class="list-group-item"><i class="fas fa-comment-alt" style="margin-right: 10px;"></i>Comments: <%= article.comments.length %></li>
				<li class="list-group-item"><i class="fas fa-clock" style="margin-right: 10px;"></i>Published: <%= moment(article.createdDt).fromNow() %></li><br><br>
			</div>
        </div>
        <div class="col-md-9">
            <h1><%= article.title%></h1><br>

            <img src="<%= article.image %>" class="img-thumbnail" width="615px" height="515px" style="margin-bottom: 40px;"><br>
            <% if(currentUser && article.author.id.equals(currentUser._id)){ %>
                <a class="btn btn-xs btn-warning" href="/articles/<%= article._id %>/edit">Edit</a>
                <form id="delete-form" action="/articles/<%= article._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-xs btn-danger" style="margin-left: 10px;">Delete</button>
                </form>
            <% } %>
            <p style="margin-bottom: 80px; margin-top: 40px;"><%= article.content %></p>

            <div class="card card-body bg-light">
                <div class="text-right">
                    <a class="btn btn-success" href="/articles/<%= article._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% article.comments.forEach(function(comment) { %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="float-right"><%= moment(comment.createdDt).fromNow() %></span>
                            <p>
                                <%= comment.text %>
                            </p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                <a class="btn btn-xs btn-warning" 
                                    style="margin-bottom: 20px;"
									href="/articles/<%=article._id %>/comments/<%=comment._id %>/edit">
									Edit
								</a>
								<form class="delete-form" action="/articles/<%=article._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
									<input type="submit" style="margin-left: 10px; margin-bottom: 20px;" class="btn btn-xs btn-danger" value="Delete">
								</form>
							<% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>	
    </div>
</div>

<%- include("../partials/footer") %>